SaveFile (
    tiles: [
        Tile (
            tile_type: "forest",
            axial_coordinates: AxialCoordinates (
                q: 0,
                r: 0,
            ),
        ),
        Tile (
            tile_type: "road",
            axial_coordinates: AxialCoordinates (
                q: 1,
                r: 0,
            ),
        )
    ],
    tile_connections: [
        TileConnection (
            connected_tiles: ConnectedTiles(0, 1)
        )
    ],
)