SaveFile (
    tiles: [
        SaveFileTile (
            tile_data: SaveFileTileData (
                tile_type: "forest",
            ),
            tile_connection_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(0),
            ),
            tile_connection_lower_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(1),
            ),
            tile_connection_lower_left: SaveFileTileConnection (
                temp_data: TempConnectionComponent(2),
            ),
        ),
        SaveFileTile (
            tile_data: SaveFileTileData (
                tile_type: "road",
            ),
            tile_connection_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(0),
            ),
            tile_connection_lower_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(1),
            ),
            tile_connection_lower_left: SaveFileTileConnection (
                temp_data: TempConnectionComponent(2),
            ),
        ),
        SaveFileTile (
            tile_data: SaveFileTileData (
                tile_type: "urban",
            ),
            tile_connection_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(0),
            ),
            tile_connection_lower_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(1),
            ),
            tile_connection_lower_left: SaveFileTileConnection (
                temp_data: TempConnectionComponent(2),
            ),
        ),
        SaveFileTile (
            tile_data: SaveFileTileData (
                tile_type: "water",
            ),
            tile_connection_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(0),
            ),
            tile_connection_lower_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(1),
            ),
            tile_connection_lower_left: SaveFileTileConnection (
                temp_data: TempConnectionComponent(2),
            ),
        ),
        SaveFileTile (
            tile_data: SaveFileTileData (
                tile_type: "forest",
            ),
            tile_connection_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(0),
            ),
            tile_connection_lower_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(1),
            ),
            tile_connection_lower_left: SaveFileTileConnection (
                temp_data: TempConnectionComponent(2),
            ),
        ),
        SaveFileTile (
            tile_data: SaveFileTileData (
                tile_type: "forest",
            ),
            tile_connection_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(0),
            ),
            tile_connection_lower_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(1),
            ),
            tile_connection_lower_left: SaveFileTileConnection (
                temp_data: TempConnectionComponent(2),
            ),
        ),
        SaveFileTile (
            tile_data: SaveFileTileData (
                tile_type: "forest",
            ),
            tile_connection_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(0),
            ),
            tile_connection_lower_right: SaveFileTileConnection (
                temp_data: TempConnectionComponent(1),
            ),
            tile_connection_lower_left: SaveFileTileConnection (
                temp_data: TempConnectionComponent(2),
            ),
        ),
    ]
)